.DS_Store
*.swp
*.log
*.tmp
*.bak
*.old

*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.zip
*.tar.gz
*.gz
*.rar
*.7z
*.exe
*.dmg
*.iso
*.img
*.bin
*.dat
*.csv
*.sql
*.txt
*.log
*.tmp
*.bak
*.old

node_modules/

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.egg-link
*.egg-cache/
*.egg-dir/
*.egg-dir/*
*.egg-dir/__pycache__/

.Rhistory
.Rproj.user/
.Rproj.user/*
.RData
Tumbs.db